:root {
  --primary-font: "Roboto", "Open Sans", sans-serif;
  --primary-text-color: #212121
  --secondary-text-color: #757575
  --accent-color: #2196F3

}

.list {
  list-style: none;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}

